<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>RunnerCucumberTestNg.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:fr.zenity.testng.RunnerCucumberTestNg@754ba872]<br/></td></tr>
</table>
