<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>19/04/17 11:26:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunnerCucumberTestNg.setUpClass()[pri:0, instance:fr.zenity.testng.RunnerCucumberTestNg@754ba872]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>19/04/17 11:26:55</td>   <td>538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunnerCucumberTestNg.tearDownClass()[pri:0, instance:fr.zenity.testng.RunnerCucumberTestNg@754ba872]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
